<ion-app>
  <ion-menu side="start" menuId="m1" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Fresh Food & Herbs</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item button [routerLink]="['/main']">
            <ion-label>Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item button [routerLink]="['/profile']">
            <ion-label>Perfil del Usuario</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item button [routerLink]="['/products-list']">
            <ion-label>Nuestros Productos</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item button [routerLink]="['/cart']">
            <ion-label>Carrito de Compras</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item button [routerLink]="['/contact']">
            <ion-label>Contáctanos</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Importante: contentId debe coincidir con el del menú -->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
